@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dokdo&family=Lobster&family=Rubik+Mono+One&display=swap');

.test1{
    font-family:'lobster';
    font-weight: 400;
    font-size: 36px;
    color: rgb(191, 216, 50);
}
.test2{
    font-family:'Rubik Mono One';
    font-weight: 400;
    font-size: 36px;
    color: rgb(42, 104, 161);
}
.test3{
    font-family:'courgette';
    font-weight: 400;
    font-size: 36px;
    color: rgb(26, 128, 0);
}
.test4{
    font-family:'Dokdo';
    font-weight: 400;
    font-size: 36px;
    color: rgb(218, 117, 218);
}