header,footer {
    background-color: rgb(204, 54, 28);
}
main{
    padding: 10px;
    background-color: rgb(93, 103, 187);
}
.post{
    background-color: rgb(118, 118, 189);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
.robtop{
    font-size: 60px;
}
.post img{
    margin: 20px;
}
h1{
    color:red;
    font-size: 50px;
}
#menu {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
    background-color: rgb(223, 106, 85);
}

#menu ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
}

#menu > ul::after {
    display: block;
    width: 100;
    height: auto;
    clear: both;
    content: " ";
} 

#menu ul li {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu ul li a {
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: white;
}

#menu ul li ul {
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: red;
}

#menu ul li:hover ul {
    display: block;
}

#menu ul li ul li {
    float: none;
    width: 100%;
}

#menu ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    color:white;
}

.carousele{
    margin: 10px;
   }

.carousele div img{
    width: 100%
   }